excercise\ 1 
excercise\ 1/*
excercise\ 2 
excercise\ 2/*
excercise\ 3
excercise\ 3/*
excercise\ 4
excercise\ 4/*
excercise\ 5
excercise\ 5/*
group-project/tex/*.fls
group-project/tex/*.log
group-project/tex/*.aux
group-project/tex/*.out
group-project/tex/*.fdb_latexmk
group-project/tex/*.pdf
group-project/code/.idea
group-project/code/.idea/*
